.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  .title {
    font-size: 2rem;
    margin-bottom: 4rem;
    text-align: center;
  }
}
