.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title {
    font-size: 2rem;
    margin-bottom: 4rem;
    text-align: center;
  }

  .board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 300px;
    width: 300px;

    .square {
      align-items: center;
      border: 1px solid #FB2576;
      cursor: pointer;
      display: flex;
      font-size: 4rem;
      height: 100px;
      justify-content: center;
      width: 32%;
      
      &:nth-child(-n + 3) {
        border-top: none;
      }

      &:nth-child(3n) {
        border-right: none;
      }

      &:nth-child(3n - 2) {
        border-left: none;
      }

      &:nth-child(n + 7) {
        border-bottom: none;
      }
    }
  }

  .modal-container {
    .modal-bg {
      background-color: #333;
      bottom: 0;
      height: 100vh;
      left: 0;
      opacity: 0.5;
      position: absolute;
      right: 0;
      top: 0;
      width: 100vw;
    }

    .modal-winner {
      align-items: center;
      background-color: #3F0071;
      border-radius: 6px;
      border: 1px solid #FB2576;
      bottom: 0;
      display: flex;
      display: flex;
      flex-direction: column;
      height: 200px;
      justify-content: center;
      left: calc(50% - 200px);
      position: absolute;
      right: 0;
      top: calc(50% - 100px);
      width: 400px;

      .winner-message {
        font-size: 2em;
        font-weight: 700;
      }

      .restart-button {
        background-color: #FB2576;
        color: #fafafa;
        border: none;
        font-weight: 700;

        &:focus,
        &:hover {
          border: none;
          outline: 0;
        }
      }
    
      .close-button {
        background-color: transparent;
        border: none;
        outline: 0;
        padding: 5px 10px;
        position: absolute;
        right: 0;
        top: 0;

        &:focus,
        &:hover {
          border: none;
          outline: 0;
        }
      }
    }

    &.modal-container-hide {
      display: none;
    }
  }

  .board-actions {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-top: 30px;

    .restart-button {
      background-color: #FB2576;
      color: #fafafa;
      border: none;
      font-weight: 700;

      &.restart-button-hide {
        display: none;
      }
    }
  }
}